*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.maps{
    display: flex;
    align-items: center;
    justify-content: center;
}
.maps .rev-form{
    display: flex;
    flex-direction: row;
    padding: 0;

}

/* .user-reviews-container-details{
    border: 3px solid grey;
    padding-top: ;
    margin: 2rem;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} */

/* ---------------------------------------------------------- */
.user-reviews-container{
    display: flex;
    flex-direction: column;
    right: 0;
    padding: 0;
    padding: 1rem;
    height: 100%;
    margin-left:60%;
    /* margin-right: 50%; */
    padding: 0;
    margin-top: 6%;
    position: absolute;
    border-left: 10px solid grey;
    width: 30%;
    overflow-x: auto;
}

.user-reviews-container-details {
    border: 3px solid grey;
    margin-top: 20%;
    margin-left: 25%;
    margin-bottom: 0;
    width: 60%;
    height: 30%; 
    min-height: 30%;
    display: flex;
    flex-direction: column;
    overflow: auto; 

}

.user-reviews-container-details:hover {
    border: 8px solid grey;
}
.clicked{
    border: 8px solid grey;    
}
.fields {
    flex: 1;
    display: flex;
    padding: .5rem;
    flex-direction: column;
    justify-content: space-evenly;
}
.user-reviews-container-back{
    font-size: 1.3rem;
    cursor: pointer;
    position: absolute;
}
.user-reviews-container::-webkit-scrollbar {
    width: 15px;
}

.user-reviews-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 5px; 
}

.user-reviews-container::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1); 
}

.user-reviews-container-details::-webkit-scrollbar {
    width: 15px;
}

.user-reviews-container-details::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 5px; 
}

.user-reviews-container-details::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1); 
}
/* ------------------------------------------------------------- */

.rev-form {
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 2.5%;
    border-left: 10px solid grey;
        
    height: 70vh;
    width: 25vw;
    /* border-radius: 50%; */
    /* background-color: aqua; */
}


.rev-form button{
    background-color:  rgb(137, 225, 137);
    margin-top: 5%;
}

.rev-form p{
    font-size:  1.3rem;
}

.review-form-details{
    margin-left: 27%;
    margin-top: 10%;
    width: 20vw;

    /* padding-right:  100px;  */
    /* background-color: blue; */
}

.review-form-back{
    /* padding-right:  100px; */
    /* background-color: red; */
    margin-bottom: 95%;
    margin-left: 18%;
    margin-top: 6%;
    padding: 0rem;
}
.review-form-back button {
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    font-size: 2.5rem;
    background-color: white;
}
.form-top{
    display: flex;
    flex-direction: row;
}
.form-col{
    display: flex;
    flex-direction: column;
    margin: 2.5rem;
}
.hidden{
    visibility: hidden;
}
.close{
    margin: 5rem;
}


