*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

.profile-container{
    display: flex;
    height: 100vh;
}
.profile-reviews-container{
    margin: 1rem 1rem 1rem 2rem;
    width: 30vw;
    overflow: auto;
}
.profile-reviews-container h2{
   text-align: center;
}

.profile-reviews-container::-webkit-scrollbar {
    width: 15px;
}

.profile-reviews-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 5px; 
}

.profile-reviews-container::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1); 
}

.no-reviews{
    width: 70%;
    border: 5px solid grey;
    margin: 1rem 0 1rem 6rem;
    padding: 1rem;
}

.profile-reviews-container-sub{
    width: 70%;
    border: 5px solid grey;
    margin: 1rem 0 1rem 6rem;
    padding: 1rem;
    background-color: #fffff0;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.sub-buttons{
    display: flex;
    justify-content: center;
}

.sub-buttons button:hover{
    cursor: pointer;
}

.sub-buttons button{
    height: 5vh;
    width: 20%;
    margin: 1rem;
    font-size: 1rem;
    border-radius: 10px ;
    border: none;
    color: white;
    background-color: rgb(94, 187, 94);
}

.profile-info-container{
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    border-left: 10px solid grey;
}

.profile-info-container-sub{
    width: 30vw;
    border: 5px solid grey;
    background-color: #fffff0;
}

.profile-info-container-top{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: .5rem;
    border-bottom: 3px solid grey;

}

.profile-info-container-top-left{
    display: flex;
    flex-direction: column;

}

.updateImage{
    height: 4vh;
    width: 90%;
    margin: 1rem;
    font-size: 1rem;
    border-radius: 10px ;
    border: none;
    color: white;
    cursor: pointer;
    background-color: rgb(215, 202, 82);
}
.tempIcon{
    font-size: 4rem;
    font-weight: lighter;
    margin-left: 1rem;
}
/* .ci-edit-profile {
    position: absolute; 
    left: 63%;
    top: 53%;
    font-size: 1rem;
    cursor: pointer;
    
} */

.profile-info-container-top img {
    border-radius: 50%;
    width: 16vh; 
    height: 16vh; 
}

.profile-info-container-bottom-text button {
    height: 4vh;
    width: 4vw;
    font-size: 0.8rem;
    border-radius: 10px ;
    border: none;
    color: white;
    background-color: grey;
}

.profile-info-container-bottom-text button:hover{
    cursor: pointer;
}
.profile-info-container-bottom{
    display: flex;
    flex-direction: column;
    height: 20vh;
    /* justify-content: space-between; */
    padding: 1rem;
    font-size: 1.25rem;
}
.profile-info-container-bottom-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-info-container-bottom-text input {
    all: initial;
    font-size: inherit;
}
.ci-edit {
    position: absolute; 
    right: 35%;
}
.ci-edit:hover{
    cursor: pointer;
}
.profile-info-container-bottom-actions{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
.profile-info-container-bottom-actions button{
    position: absolute;
    height: 4vh;
    width: 5vw;
    top: 75vh;
    font-size: 0.8rem;
    border-radius: 10px ;
    border: none;
    color: white;
    background-color: rgb(94, 187, 94);
}

.profile-info-container-bottom-actions button:hover{
    cursor: pointer;
}
.change-password-form{
    display: flex;
    flex-direction: column;
    height: 18.5vh;
    gap: 10px;
    /* align-items: center; */
    /* font-size: rem; */
    margin: 0 1rem 1rem 1rem;
    /* background-color: red; */
}
.change-password-form input{
    all:initial;
    border: none;
    border-bottom: 1px solid grey;
    background-color: white;
    margin: 0.25rem;
    border-radius: 5px;
    position: absolute; 
    /* height: 2vh; */
    right: 30%;
}
.change-password-form label{
    margin: 0.5rem;
    font-size: 1.2rem;
}
.change-password-form-close{
    width: 2%;
    border: none;
    background-color: #fffff0;
    font-size: 1.25rem;
}

.change-password-form-actions{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    width: 28vw;
}
.change-password-form-actions button{
    position: absolute;
    top: 75vh;
    height: 4vh;
    width: 5vw;
    font-size: 0.8rem;
    border-radius: 10px ;
    border: none;
    color: white;
    background-color: rgb(94, 187, 94);
}
/* .change-password-form > button{
    justify-content: flex-start;
    margin: 0;
    width: 20vw;
} */
.change-password-form button:hover{
    cursor: pointer;
}

.change-image-form-close-top{
    width: 2%;
    border: none;
    position: absolute;
    left: 67%;
    color: #ed2c1f;
    cursor: pointer;
    background-color: #fffff0;
    font-size: 1.8rem;
}

.image-chose {
    margin-top: 30px;
    position: absolute;
    left: 71%;
    cursor: pointer;
    background-color: rgb(215, 202, 82);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
}

.saveBtnImage{
    background-color:  rgb(94, 187, 94);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    border: none;
    /* position: absolute;
    left: 50%; */
    cursor: pointer;
}
.saveBtnImage:hover {
    background-color: rgb(71, 142, 71);
    border-color:  rgb(71, 142, 71);
}

.image-chose:hover {
    background-color: rgb(155, 135, 70);
    border-color: rgb(155, 135, 70);
}

.image-chose input[type="file"] {
    display: none;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.image-overlay label{
    margin-bottom: 1rem;
    cursor: pointer;
    background-color: rgb(137, 182, 212);
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
}

.image-overlay input[type="file"] {
    display: none;
}

@media screen and (max-width: 1211px) {
    .profile-reviews-container {
        height: 70vh; /* Adjust the height for smaller screens */
    }
    .profile-reviews-container-sub{
        margin: 0 0 1rem 3rem;
        font-size: 50%;
    }

}

