*{
    box-sizing: border-box;
    margin: 0;
    
}
.signup{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/food.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh; 
    width: 25vw;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
} 
.signUpForm{
    display:flex;
    background-color: white;
    padding: 6rem;
    border: none;
    border-radius: 2rem;
    /* align-items: center; */
    flex-direction: column;
}

.confirmSign{
    height: 5vh;
    width: 30%;
    margin: 1rem;
    font-size: 1rem;
    border-radius: 10px ;
    border: none;
    color: white;
    background-color: rgb(94, 187, 94);
    /* align-self: flex-end; */

}

.userName,
.firstName,
.lastName,
.passWord,
.email,
.passWordConfirm{
    border-width: 0 0 3px; 

}
.signup-container h2{
    font-size: 1.5rem;
    padding: 1rem;
    color: black;
    text-align: center;}
.actions{
    margin-top: 2rem;
    /* margin-bottom: 0; */
    display: flex;
    justify-content: space-between;
}
.confirmSign{
    align-self: flex-end;
}
/* .signup::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5); 
}
.signup::before {
    opacity: 0.5; 
}  */

.back{
    color: black;
    font-size: 1.25rem;
    margin-top: 1.5rem;
    text-decoration: none;
    margin-left:1rem;
}